<div class="container">
<%= form_for ([:admin, @competency]), :html => {:class => "form-horizontal center"} do |f| %>

<div class="form-group">
  <%= f.label :name, "Name:", class: "col-md-4 control-label" %>
  <div class="col-md-4">
    <%= f.text_field :name, class: "form-control" %>
  </div>
</div>

<div class="form-group">
  <%= f.label :description, "Description:", class: "col-md-4 control-label" %>
  <div class="col-md-4">
    <%= f.text_field :description, class: "form-control" %>
  </div>
</div>

<%= f.submit "Submit", class: "btn btn-default btn-lg btn-primary" %>
<% end %>
</div>
