<%= form_for ([ @interview]), :html => {:class => "form-horizontal center"} do |f| %>


<div class="form-group">
  <%=f.label :date, "Date", class:"col-sm-4 col-form-label" %>
  <%= f.text_field :date, class: "col-sm-4", :readonly => true %>
  </div>

<div class="form-group">
  <%= f.label :first_name, "First Name", class:"col-sm-4 col-form-label" %>
  <%= f.text_field :first_name, value: @interview.candidate.first_name, class: "col-sm-4", :readonly => true  %>
  <%= f.label :last_name, "Last Name", class:"col-sm-4 col-form-label" %>
  <%= f.text_field :Last_name, value: @interview.candidate.last_name, class: "col-sm-4", :readonly => true %>
  <%= f.label :last_name, "Targeted Role" , class:"col-sm-4 col-form-label"%>
  <%= f.text_field :target_role, value: @interview.candidate.target_role, class: "col-sm-4", :readonly => true  %>
</div>

<div class="form-group">
  <%= f.fields_for :competencies do |builder| %>
  <%= builder.label :name, class:"col-sm-4 col-form-label" %>
  <%= builder.text_field :name, class: "col-sm-4", :readonly => true  %>
  <%= builder.fields_for :interview_competencies do |lb| %>
        <%= lb.label :competency_score, "Competency Score:", class:"col-sm-6 col-form-label" %>
        <%= lb.text_field :competency_score, class: "form-control" %>
      <%end%>
<%end%>
</div>

<div class="form-group">
  <%=f.label :score, "Interview Score:", class:"col-sm-2 col-form-label" %>
  <div class="col-sm-4">
  <%= f.text_field :score, class: "form-control"%>
  </div>
  <%= f.label :comment, "Overall Comment:", class: "col-md-4 control-label" %>
  <div class="col-md-4">
    <%= f.text_area :comment, class: "form-control" %>
  </div>
</div>

<%= f.submit "Submit", class: "btn btn-default btn-primary" %>
<% end %>
