<div class="container-fluid">
    <div class="row">
      <div class="col-sm-4">
        <p>  Date: <%=@interview.date %> </p>
        <p>  First Name: <%=@interview.candidate.first_name %> </p>
        <p>  Last Name: <%=@interview.candidate.last_name %> </p>
        <p>  Target Role: <%=@interview.candidate.target_role %> </p>
      </div>
    </div>
</div>

<div class="row">
  <div class="col-sm-3">
    <p> Competency Name: </p>
    <p> Competency Description: </p>
  </div>
  <%@interview.competencies.each do |competency| %>
  <div class="col-sm-3">
    <p><%= competency.name %></p>
    <p><%= competency.description %></p>
  </div>
  <%end%>
</div>
  <%= form_for ([ @interview]), :html => {:class => "form-horizontal center"} do |f| %>
    <div class="row">
      <div class="col-sm-3">
        <p> Competency Score: </p>
      </div>
      <%= f.fields_for :interview_competencies do |builder| %>
        <div class="col-sm-3">
      <%= builder.text_field :competency_score, class: "form-control" %>
      </div>
      <%end%>
    </div>

<div class="form-group">
  <%=f.label :score, "Interview Score:", class:"col-sm-2 col-form-label" %>
  <div class="col-sm-4">
  <%= f.text_field :score, class: "form-control"%>
  </div>
  <%= f.label :comment, "Overall Comment:", class: "col-md-4 control-label" %>
  <div class="col-md-6">
    <%= f.text_area :comment, class: "form-control" %>
  </div>
</div>

<%= f.submit "Submit", class: "btn btn-default btn-primary" %>
<% end %>
