
<div class="container">
    <h4> Complete the Interview Form:</h4>
    <div class="row">
      <div class="col-sm-6">
        <div class="edit-form-candidate-info">
        <h6 class="card-text"> <strong> Date:</strong> <%=@interview.date.strftime('%b. %d, %Y') %> </h6>
        <h6 class="card-text"> <strong> Candidate Name:</strong> <%=@interview.candidate.first_name %> <%=@interview.candidate.last_name %></h6>
        <h6 class="card-text"> <strong> Target Role:</strong> <%=@interview.candidate.target_role %> </h6><br>
      </div>
    </div>
    </div>
</div>

<div class="container">
  <div class="row">
  <div class="col-sm-3">
    <p> <strong> Competency Name: </strong></p>
    <p> <strong>Competency Description:</strong> </p>
    <p> <strong> Interview Question: </strong></p>
  </div>
  <%@interview.competencies.each do |competency| %>
  <div class="col-sm-3">
    <p><%= competency.name %></p>
    <p><%= competency.description %></p>
      <% competency.questions  do |question| %>
      <p><%= question.question %> </p>
      <%end%>
  </div>
  <%end%>
</div>
</div>
<div class="container">
  <%= form_for ([ @interview]), :html => {:class => "form-horizontal center"} do |f| %>
    <div class="row">
      <div class="col-sm-3">
        <p> <strong>Competency Score:</strong> </p>
      </div>
      <%= f.fields_for :interview_competencies do |builder| %>
        <div class="col-sm-3">
      <%= builder.text_field :competency_score, class: "form-control" %>
      </div>
      <%end%>
    </div>
  </div>

<div class="container">
<div class="form-group">
  <%=f.label :score, "Interview Score:", class:"col-sm-4 col-form-label" %>
  <div class="col-sm-4">
  <%= f.text_field :score, class: "form-control"%>
  </div>
  <%= f.label :comment, "Overall Comment:", class: "col-md-4 control-label" %>
  <div class="col-md-6">
    <%= f.text_area :comment, class: "form-control" %>
  </div>
</div>

<%= f.submit "Submit", class: "btn  btn-primary btn-lg  btn-primary" %>
<% end %>
</div>
