<h1> Here are the Open and Completed Interviews </h1>


  <% @interviews.each do |interview| %>
  <ul>
    <li> <%= link_to "Show Details", admin_interview_path(interview.id) %> </li>
    <li> candidate's first_name: <%= interview.candidate.first_name %> </li>
    <li> candidate's last_name: <%= interview.candidate.last_name %> </li>
    <li> Date: <%= interview.date %> </li>
    <li> Role: <%= interview.candidate.target_role %> </li>
    <li> Interviewer: <%= interview.user.first_name %> </li>
    <li> Status: <%= interview.status %> </li>
    </ul>
  <%end %>

  <a href="/admin/interviews/new" class="btn btn-primary btn-lg primary" role="button" aria-disabled="true">Create a New Interview</a>
