
<div class="container">
<%= form_for ([:admin, @interview]), :html => {:class => "form-horizontal center"} do |f| %>

<div class="form-group">
  <%= f.label :date, "Interview Date:", class: "col-md-4 control-label" %>
  <div class="col-md-8">
    <%= f.date_field :date, class: "form-control" %>
  </div>
</div>

<div class="form-group">
<div class="field">
  <%= f.label :candidate_id , class: "col-md-4 control-label"%>
  <%= f.select(:candidate_id,   @candidates_options) %>
</div>
</div>

<div class="form-group">
<div class="field">
  <%= f.label :interview_id , class: "col-md-4 control-label"%>
  <%= f.select(:user_id,   @interviewers_options) %>
</div>
</div>

<div class="form-group">
  <h6> Select up to 3 competency and a question for the interview. </h6>
  <div class="checkbox" id="competencies_id">
    <ul>
    <!-- <% hidden_field_tag 'interview[competency_attributes][]', nil %> -->
  <% @competencies.each_with_index do |competency, index| %>

      <li>
        <%= f.fields_for :competencies, index: index do |fm| %>
        <%= fm.hidden_field :name, value: competency.name %>
        <%= fm.label :name, value: competency.name %>
        <%= fm.check_box :id, {}, competency.id %>
        <!-- <%= check_box_tag 'interview[competency_attributes][]', competency.id, @interview.competency_ids.include?(competency.id), id: competency.name%> -->
        <!-- <%= label_tag :id, competency.name%> -->

        <!-- <%= hidden_field_tag "interview[competency_attributes][question_attributes][]", nil %> -->
        <% competency.questions.each_with_index do |question, another_index| %>

         <%= fm.fields_for :questions, index: another_index do |ft| %>
        <ul>
        <%= ft.hidden_field :question, value: question.question %>
          <%= ft.label :question, value: question.question %>
         <%= ft.check_box :id, {}, question.id %>
          <!-- <%= check_box_tag 'interview[competency_attributes][question_attributes][]', question.id, competency.question_ids.include?(question.id),  id: question.question%> -->
          <!-- <%= label_tag :question_id, question.question%> -->
        </ul>
          <%end%>
          <%end%>
      </li>
  <% end %>
  <%end%>
</ul>
</div>
</div>
<div class="form-group">
<%= f.submit "Submit", class: "btn  btn-primary btn-lg  btn-primary" %>
<% end %>
</div>
</div>
