
<%= form_for ([:admin, @interview]), :html => {:class => "form-horizontal center"} do |f| %>

<div class="form-group">
  <%= f.label :date, "Interview Date:", class: "col-md-4 control-label" %>
  <div class="col-md-8">
    <%= f.date_field :date, class: "form-control" %>
  </div>
</div>

<div class="field">
  <%= f.label :candidate_id %>
  <%= f.select(:candidate_id,   @candidates_options) %>
</div>

<div class="field">
  <%= f.label :interview_id %>
  <%= f.select(:user_id,   @interviewers_options) %>
</div>


<select id="id_attribute" class="mdb-select colorful-select dropdown-primary" multiple="multiple" name="interview[attribute_id][]">

  <%@attributes.each do |attribute| %>
      <option value="<%attribute.id%>"><%=attribute.name%></option>
        <%= f.hidden_field :attribute_id, params[:attribute] %>
    <%end %>
  </select>
<%= f.submit "Submit", class: "btn btn-default btn-primary" %>
<% end %>
<%= debug params %>
