<div class="container">
<div class="card w-75">
  <h3 class="card-header">Welcome to unTilt!</h3>
  <div class="card-block">
    <h4 class="card-title"> <%=@user.first_name %> <%= @user.last_name %></h4>
    <p class="card-text">Job Title: <%=@user.job_title%></p>
    <p class="card-text">Department: <%=@user.department%></p>
    <p class="card-text">Email: <%=@user.email%></p>
    <a href= '#' class="btn btn-primary"> Edit Information </a>
    <div class="card-body">
      <a href= "/interviews" class="card-link">Upcoming Interviews</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
</div>
</div>
