<div class="container">
<div class="card w-75">
  <h3 class="card-header">Welcome to unTilt!</h3>
  <div class="card text-center">
    <h4 class="card-text"> <%=@user.first_name %> <%= @user.last_name %></h4>
    <p class="card-text-center"><strong>Job Title: </strong><%=@user.job_title%></p>
    <p class="card-text"><strong>Department: </strong> <%=@user.department%></p>
    <p class="card-text"><strong>Email:</strong> <%=@user.email%></p>
    <%= link_to "Edit Information", edit_user_path(@user) %>
    <div class="card-body">
      <a href= "/interviews" class="card-link">Upcoming Interviews</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
</div>
</div>
