<div class="container">
<div class="card w-75">
  <h3 class="card-header">Details for Interviewer:<%=@user.first_name %> <%= @user.last_name %></h3>
  <div class="card-block">
    <p class="card-text"><strong>Job Title:</strong> <%=@user.job_title%></p>
    <p class="card-text"><strong>Department: </strong><%=@user.department%></p>
    <p class="card-text"><strong>Email:</strong> <%=@user.email%></p>
  </div>
</div>
</div>
